* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  background: #002248;
  display: flex;
  justify-content: center;
  text-align: center;
  /* position: fixed; */
}
.one {
  background: #002248;
  width: 1500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}
.wraper1 {
  width: 480px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.number {
  text-align: center;
  font-size: 15px;
  color: #fdc900;
  justify-content: center;
}
.call {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 40px;
}
.apple {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #fccb00;
  width: 150px;
  height: 40px;
}
.p {
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.part2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header2one {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 60px;
  text-align: center;
}
.Master {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mastery {
  text-align: center;
  font-size: 40px;
  color: #001c45;
  justify-content: center;
}
.wraper {
  height: 60;
  width: 550px;
}

.ul {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
li {
  list-style: none;
}

.search {
  width: 30px;
}

.back-photo {
  height: 500px;
  background: green;
}

.left {
  margin-top: 400px;
}
a {
  text-decoration: none;
  color: white;
}

.pages:hover .pagUl {
  display: block;
}

.pages {
  position: relative;
}

.pagUl {
  border: 1px solid black;
  display: none;
  width: 150px;
  position: absolute;
}
.pagli {
  border-bottom: 1px solid black;
}

.part3 {
  width: auto;
  height: 600px;
}

.for_text {
  background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.better {
  color: #fffffd;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}

.text-cont {
  margin-bottom: 300px;
  width: 1900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.readMore {
  background: #fccb00;
  width: 120px;
  height: 40px;
}

.slider {
  margin-top: 400px;
  width: 2400px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.left-right {
  border: 1px solid;
  width: 100px;
  height: 20px;
}

.part4 {
  display: flex;
  width: auto;
  height: 450px;
  justify-content: center;
}
.param-square {
  margin-bottom: 350px;
  display: flex;
  width: 1100px;
  justify-content: space-around;
  align-items: center;
}

.square {
  background: #ffffff;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #1a1720;
  border: 1px solid ;
}

.read-more {
  background: #fccb00;
  width: 100px;
  height: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

.p-text {
  color: #8c8c8c;
  font-size: 20px;
}
